/*CSS - палитра цветов*/
:root {
  --main-color: #ffffff;
  --text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --first-decor-color: #2f303a;
  --secondary-decor-color: #f5f4fa;
  --border-color: #eeeeee;
  --border-head-color: #ececec;
  --team-contacts: #afb1b8;
}
/*изменение стандартных ситилей*/

button {
  font-family: inherit;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: var(--title-text-color);
}
a:visited {
  color: var(--title-text-color);
}
address {
  font-style: normal;
}

img {
  display: block;
}
/*Основные стили*/
.body-studio,
.body-portfolio {
  font-family: 'Roboto';
  font-style: normal;

  min-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header-links-pages .site-page-current {
  color: var(--accent-color);
  height: 48px;
  display: flex;
  flex-direction: column;
  /* align-content: stretch; */
  justify-content: space-between;
}
.header-links-pages .site-page-current::after {
  display: flex;
  content: '';
  border: 2px solid var(--accent-color);
  border-radius: 2px;
  width: 100%;
  height: 4px;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/*Стили для шапки сайта*/
.header-site {
  background-color: var(--main-color);
  border: 1px solid var(--border-head-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  /* or 114% */
  letter-spacing: 0.02em;
}
.header-site > div {
  display: flex;
  justify-content: space-between;
  height: 80px;
}
.header-nav {
  display: flex;
  align-items: center;
}

.header-links-pages {
  display: flex;
  align-self: flex-end;

  margin-left: 93px;
  height: 48px;
}
.header-links-pages a {
  color: var(--title-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-links-pages li {
  margin-right: 50px;
}
.header-links-pages p {
  margin: 0;
}
.header-links-pages p::first-letter {
  text-transform: capitalize;
}

.header-links-contacts {
  display: flex;
  align-items: center;
}
.header-links-contacts li:not(:last-child) {
  margin-right: 50px;
}
.header-links-contacts a {
  display: flex;
  align-content: center;
  align-items: center;
  fill: var(--text-color);
  color: var(--text-color);

  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.envelope svg {
  width: 16px;
  height: 20px;
  margin-right: 10px;
}
.smartphone svg {
  width: 10px;
  height: 20px;
  margin-right: 10px;
}
.header-links-contacts a:visited {
  color: var(--text-color);
}
.header-site a:hover,
.header-site a:focus,
.header-site a:active {
  color: var(--accent-color);
  fill: var(--accent-color);
}

/*Стили для заглавной секции*/
.hero {
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--first-decor-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/bg-hero.jpg');
  color: var(--main-color);
}
.hero > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero h1 {
  display: inline-block;
  width: 696px;
  margin: 0px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero button {
  align-items: center;
  text-align: center;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  text-decoration-color: var(--main-color);
  background: #2196f3;
  border-radius: 4px;
  border: 0px;
  padding: 0px;
}
.hero span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  /* or 188% */
  letter-spacing: 0.06em;
  color: var(--main-color);
}
.hero span:not(:last-child) {
  text-transform: capitalize;
}

/*Слили для секции особенности*/
.features {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--main-color);
}
.features ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1170px;
}
.features li {
  display: block;
}
.features li:not(:last-child) {
  margin-right: 30px;
}
.features li > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-decor-color);
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}
.features svg {
  width: 70px;
  height: 70px;
}

.features h3 {
  margin: 0px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  /* or 114% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features p {
  margin: 10px 0px 0px 0px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.features p::first-letter {
  text-transform: capitalize;
}
/* стили для секции виды работ*/
.work-profile {
  padding-bottom: 94px;

  background-color: var(--main-color);
}
.work-profile > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.work-profile h2 {
  margin: 0px 0px 50px 0px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  /* or 117% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.work-profile h2::first-letter {
  text-transform: capitalize;
}
.work-profile-images {
  display: flex;
  justify-content: space-between;
}
.work-profile-images > li {
  position: relative;
  overflow: hidden;
  background-color: #fff;
}
.work-profile-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: var(--main-color);
}
/* стили для секции наша команда*/
.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-decor-color);
}
.our-team > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.our-team h2 {
  margin: 0px;
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  /* or 117% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.our-team h2::first-letter {
  text-transform: capitalize;
}
.card {
  display: flex;
  justify-content: space-between;
}

.card > li {
  background-color: var(--main-color);
  width: 270px;

  background: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card div {
  margin-top: 30px;
  margin-bottom: 16px;
}
.our-team h3 {
  margin: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-transform: capitalize;
}
.our-team h4 {
  margin-top: 10px;
  margin-bottom: 0px;
  color: var(--text-color);

  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: capitalize;
}
.our-team span {
  text-transform: uppercase;
}
.our-team-contacts {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.our-team-contacts li:not(:first-child) {
  margin-left: 10px;
}
.our-team-contacts a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: var(--team-contacts);
  background-color: var(--main-color);
  border-radius: 50%;

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-contacts svg {
  width: 20px;
  height: 20px;
}
.our-team-contacts a:hover,
.our-team-contacts a:focus,
.our-team-contacts a:active {
  fill: var(--main-color);
  background-color: var(--accent-color);
  outline: none;
}
/*Стили для секции постоянные клиенты*/
.constant-client {
  padding-top: 94px;
  padding-bottom: 94px;
}
.constant-client > div {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.constant-client h2 {
  margin: 0px;
  align-self: center;
}
.constant-client ul {
  display: flex;
  width: 170px;
  margin-top: 50px;
}
.constant-client li:not(:first-child) {
  margin-left: 30px;
}
.constant-client a {
  display: flex;
  padding: 0px;
  width: 170px;

  border: 1px solid;
  border-radius: 4px;
  border-color: var(--team-contacts);
  fill: var(--team-contacts);

  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.constant-client svg {
  width: 170px;
  height: 90px;
}
.constant-client a:hover,
.constant-client a:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
  outline: none;
}
/*стили для секции подвал*/
.footer-site {
  background-color: var(--first-decor-color);
  font-weight: normal;

  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-site > div {
  display: flex;
}
.address {
  width: 231px;
  margin-right: 70px;
}
.address > a {
  display: flex;
  align-items: center;
  width: 145px;
  height: 31px;
}
.address-company {
  margin-top: 20px;
}

.address-company li:first-child {
  color: var(--main-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
}

.address-company li:not(:first-child) {
  margin-top: 9px;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(100%, 100%, 100%, 60%);
}
.footer-site h3 {
  margin-top: 12px;
  color: var(--main-color);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.address-company-public {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.address-company-public li:not(:first-child) {
  margin-left: 10px;
}
.address-company-public a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--main-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-company-public svg {
  width: 20px;
  height: 20px;
}
.address-company-public a:hover,
.address-company-public a:focus,
.address-company-public a:active {
  outline: none;
  fill: var(--main-color);
  background-color: var(--accent-color);
}
/*CSS Портфолио*/
.main-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-filters li:not(:last-child) {
  margin-right: 8px;
}
.portfolio-filters button {
  background-color: var(--secondary-decor-color);
  color: var(--title-text-color);
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  box-shadow: none;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;

  transition-property: box-shadow, background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-filters span {
  text-transform: capitalize;
}

.portfolio-filters button:hover,
.portfolio-filters button:focus,
.portfolio-filters button:active {
  outline: none;
  background-color: var(--accent-color);
  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--main-color);
}
.portfolio-item {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 3 - 30px);
  background: var(--main-color);

  box-sizing: border-box;

  box-shadow: none;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.item a > div {
  width: 370px;
  position: relative;
  overflow: hidden;
}
.item d .item a:hover .item-overlay,
.item a:focus .item-overlay {
  transform: translatey(0);
}
.item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translatey(+100%);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item-overlay {
  margin: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  /* or 156% */
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.item:hover,
.item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  background-color: #2196f3;
}

.item-name {
  position: absolute;
  width: 370px;
  padding: 20px 24px;
  background: var(--main-color);
  border: 1px solid var(--border-color);
}
.item h3 {
  margin: 0px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  text-transform: capitalize;
}

.item h4 {
  margin: 0px;
  margin-top: 4px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.item h4::first-letter {
  text-transform: capitalize;
}

.item span {
  text-transform: lowercase;
}
.item .text-height {
  text-transform: uppercase;
}
/*Модалока  и бэкдроп*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1) rotate(180deg);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;
  background-color: var(--main-color);

  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--main-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-sizing: border-box;
}
.modal button > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal button:hover,
.modal button:focus {
  outline: none;
  border-color: #000000;
}
