/*стили для секции подвал*/
.footer-site {
  background-color: $first-decor-color;
  font-weight: normal;

  padding-top: 60px;
  padding-bottom: 60px;

  > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 231px;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 231px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    align-items: flex-start;
  }
  > a {
    display: flex;
    align-items: center;
    width: 145px;
    height: 31px;
  }
}
.address-company {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  @media screen and (min-width: 1200px) {
    align-items: flex-start;
  }
  li {
    display: inline-block;
    font-weight: normal;

    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;

    &:first-child {
      color: $main-color;
    }
    &:not(:first-child) {
      margin-top: 8px;
      color: rgba(255, 255, 255, 0.6);
    }
  }
  a {
    color: inherit;
    &:visited {
      color: inherit;
    }
  }
}
.join {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    margin-top: 5px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 12px;
    align-items: flex-start;
  }
}
.footer-site h3 {
  margin: 0px;
  color: $main-color;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.address-company-public {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  // margin-bottom: 30px;

  li:not(:first-child) {
    margin-left: 10px;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: $main-color;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus,
    &:active {
      outline: none;
      fill: $main-color;
      background-color: $accent-color;
    }
  }

  svg {
    width: 20px;
    height: 20px;
  }
}

.mailing {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  margin-top: 60px;
  @media screen and (min-width: 1200px) {
    width: 570px;
    margin-top: 0px;
    height: 86px;
    margin-left: 93px;
    margin-top: 12px;
    align-items: flex-start;
  }
}

.mailing form {
  display: flex;
  flex-direction: column;
  align-items: center;
  //
  width: 100%;
  margin-top: 20px;
  //

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 50px;
  }
  input {
    width: 100%;
    height: 50px;

    margin-bottom: 20px;
    @media screen and (min-width: 480px) {
      width: 450px;
    }
    @media screen and (min-width: 1200px) {
      width: 358px;
    }
    padding: 15px 16px;
    background-color: $first-decor-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.3);
    &::placeholder {
      font-weight: normal;
      font-size: 16px;
      line-height: 1.25;
      /* identical to box height, or 125% */
      display: flex;
      align-items: center;
      letter-spacing: 0.03em;

      color: rgba(255, 255, 255, 0.3);
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-left: 14px;
    width: 200px;
    height: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 187% */
    letter-spacing: 0.06em;
    text-transform: capitalize;
    color: $main-color;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;

    svg {
      margin-left: 10px;
      width: 24px;
      height: 24px;
      fill: $main-color;
    }
  }
}
