.header-site {
  background-color: $main-color;
  border: 1px solid $border-head-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  /* or 114% */
  letter-spacing: 0.02em;
  a:hover,
  a:focus,
  a:active {
    color: $accent-color;
    fill: $accent-color;
  }
  > div {
    display: flex;
    justify-content: space-between;
    height: 80px;
  }
}
.header-nav {
  display: flex;
  align-items: center;
}

.header-links-pages {
  display: flex;
  align-self: flex-end;

  margin-left: 93px;
  height: 48px;
  a {
    color: $title-text-color;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  li {
    margin-right: 50px;
  }
  p {
    margin: 0;
    &::first-letter {
      text-transform: capitalize;
    }
  }
  .site-page-current {
    color: $accent-color;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &::after {
      display: flex;
      content: '';
      border: 2px solid $accent-color;
      border-radius: 2px;
      width: 100%;
      height: 4px;
    }
  }
}

.header-links-contacts {
  display: flex;
  align-items: center;
  li:not(:last-child) {
    margin-right: 50px;
  }
  a {
    display: flex;
    align-content: center;
    align-items: center;
    fill: $text-color;
    color: $text-color;

    transition-property: fill, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:visited {
      color: $text-color;
    }
  }
}

.envelope svg {
  width: 16px;
  height: 20px;
  margin-right: 10px;
}
.smartphone svg {
  width: 10px;
  height: 20px;
  margin-right: 10px;
}
