/* стили для секции виды работ*/
.work-profile {
  padding-bottom: 94px;

  background-color: $main-color;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.work-profile-items {
  display: flex;
  justify-content: space-between;

  li {
    position: relative;
    overflow: hidden;
    background-color: #fff;
  }
}
.work-profile-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: $main-color;
}
