$main-color: #ffffff;
$text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$first-decor-color: #2f303a;
$secondary-decor-color: #f5f4fa;
$border-color: #eeeeee;
$border-head-color: #ececec;
$team-contacts-color: #afb1b8;

$font-site: 'Roboto';
